<div class="sidebar sticky-top">        
    <!--<div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        aqui iba el newsletter
    </div>-->
    <div class="sidebar-section">
        <h5><span>Anuncios</span></h5>
        <p>Link de referido, compra usando esos anuncios para financiarme una pizza</p>
        <!--<img src="{{site.baseurl}}/assets/images/ad.png">-->
        <ul>
            <li><a target="_blank" href="https://www.amazon.com.mx/gp/help/customer/display.html?nodeId=GZXW7X6AKTHNUP6H&_encoding=UTF8&linkCode=ib1&tag=kuatroestre01-20&linkId=bdf44a92fc980c4842c389af05cae195&ref_=ihub_curatedcontent_0082786b-5025-4591-8ea3-2af44f9e13f8"><img width="320" height="480" src="https://m.media-amazon.com/images/G/33/img21/Free_Shipping/Idea_Hub_350x350.jpg" alt=""></a></li>
            <li><a target="_blank" href="https://amzn.to/3OsyARJ"><img width="320" height="480" src="https://m.media-amazon.com/images/I/71dBEoU2DLL._AC_SX679_.jpg"/></a></li>
            <li><a target="_blank" href="https://amzn.to/3OKQKzr"></a><img width="320" height="480" src="https://m.media-amazon.com/images/G/33/img20/VideoGames/imagenes_a/accesorios.jpg"/></li>
        </ul>
    </div>
</div>